<h3>An occured processing your request</h3>
<h5>Please contact us on sagar.guvvala@gmail.com</h5>
<hr />
<h3>Exception Details:</h3>
<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Stack Trace</h5>
    <p>@ViewBag.StackTrace</p>
</div>
