@model EmployeeCreateViewModel;

@{
    ViewBag.Title = "Create Employee";
}
 <link href="~/js/jcrop_css/jquery.Jcrop.css" rel="stylesheet" />
<script src="~/js/jquery.Jcrop.js"></script>
<script src="~/js/jquery.Jcrop.min.js"></script>
<script type="text/javascript">
    
</script>
<div class="container-lg">
    <form enctype="multipart/form-data" asp-controller="home" asp-action="create" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <input asp-for="Name" id="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <input asp-for="Email" id="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Department" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <select asp-for="Department" id="Department" asp-items="Html.GetEnumSelectList<Dept>()" placeholder="Department" class="form-control">
                    <option value="">Select Item</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Photo" id="FileUpload1" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-8">
                <input asp-for="Photo" id="FileUpload1" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose File..</label>
            </div>
        </div>
        <div class="from-group row">
            <img id="Image1" src="" alt="" style="display: none" />
            <div class="card-footer">
                <a asp-action="" asp-controller="" id="btnCrop"  class="btn btn-primary" >Crop</a>
                <a asp-action="" asp-controller="" id="btnUpload" class="btn btn-danger" >Upload</a>
            </div>
        </div>
        <input type="hidden" name="imgX1" id="imgX1" />
        <input type="hidden" name="imgY1" id="imgY1" />
        <input type="hidden" name="imgWidth" id="imgWidth" />
        <input type="hidden" name="imgHeight" id="imgHeight" />
        <input type="hidden" name="imgCropped" id="imgCropped" />



        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div>
            <button type="submit" class="btn btn-dark align-items-center">Create</button>
        </div>

        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var filename = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(filename);
                    });

                });
                $(function () {
        $('#FileUpload1').change(function () {
            $('#Image1').hide();
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#Image1').show();
                $('#Image1').show();
                $('#Image1').attr("src", e.target.result);
                $('#Image1').Jcrop({
                    onChange: SetCoordinates,
                    onSelect: SetCoordinates
                });
            };
            reader.readAsDataURL($(this)[0].files[0]);
        });

        $('#btnCrop').click(function () {
            var x1 = $('#imgX1').val();
            var y1 = $('#imgY1').val();
            var width = $('#imgWidth').val();
            var height = $('#imgHeight').val();
            var canvas = $("#canvas")[0];
            var context = canvas.getContext('2d');
            var img = new Image();
            img.onload = function () {
                canvas.height = height;
                canvas.width = width;
                context.drawImage(img, x1, y1, width, height, 0, 0, width, height);
                $('#imgCropped').val(canvas.toDataURL());
                $('#btnUpload').show();

            };
            img.src = $('#Image1').attr("src");
        });

    });
    function SetCoordinates(c) {
        $('#imgX1').val(c.x);
        $('#imgY1').val(c.y);
        $('#imgWidth').val(c.w);
        $('#imgHeight').val(c.h);
        $('#btnCrop').show();
    };


            </script>

        }
    </form>
</div>